@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.nav{
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #11101d;
    border-radius: 0 4px 4px 0;
}


.logo{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.logo i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}
.logo .logo_name{
    font-size: 23px;
    font-weight: 600;
    color: #fff;
}
.nav .nav_links {
    background-color: #11101d;
    height: 100%;
    padding-top: 30px;
}
.nav .nav_links li{
    list-style: none;
    position: relative;
    transition: all .4s ease;
}
.nav .nav_links li:hover{
    background-color: #1d1b31;
    border-radius: 4px;
}
.nav .nav_links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px; 
    color: #fff;
    font-size: 20px;
}
.nav .nav_links li a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.nav .nav_links li .icon_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .nav_links li  .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background-color: #1d1b31;
    display: none;
}

.drop_catogory:hover #category_submenu{
    display: block;
}
.drop_post:hover #post_submenu{
    display: block;
}
.drop_plugins:hover #plugins_submenu{
    display: block;
}
.nav .nav_links li .sub-menu a{
    padding: 7px 0;
    font-size: 15px;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.nav .nav_links li .sub-menu a:hover{
    opacity: 1;
}