@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
.home_section{
    position: relative;
    background-color: #e4e9f7;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.4s ease;

}
.home_section .home_content{
    height: 60px;
    display: flex;
    align-items: center;
}
.home_section .home_content .bx-menu {
    color: #11101d;
    font-size: 35px;
    margin: 0 15px;
    cursor: pointer;
}
.home_section .home_content .text{
    color: #11101d;
    font-size: 26px;
    font-weight: 600;
}
/* @media  screen and (max-width:600px) {
    
} */
#checkbox_mainmenu:checked ~ .nav.close{
    width: 78px;
    


}
#checkbox_mainmenu:checked + .home_section{
    left: 78px;
    width: calc(100% - 78px);
}

.nav{
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #11101d;
    border-radius: 0 4px 4px 0;
    z-index: 100;
    transition: all 0.4s ease;
}
/* .nav.close{
    width: 78px;
} */

.logo{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.logo i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}
.logo .logo_name{
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}
#checkbox_mainmenu:checked ~ .nav.close .logo .logo_name{
  display: none;

}
#checkbox_mainmenu:checked ~ .nav.close .nav_links li span{
   display: none;
}
#checkbox_mainmenu:checked ~ .nav.close .nav_links li .drop .icon_link label i {
    display: none;
}

.nav .nav_links {
    background-color: #11101d;
    height: 100%;
    padding-top: 30px;
}
.nav .nav_links li{
    list-style: none;
    position: relative;
    transition: all .4s ease;
}
.nav .nav_links li:hover{
    background-color: #1d1b31;
    border-radius: 4px;
}
.nav .nav_links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px; 
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.nav .nav_links li a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.nav .nav_links li .icon_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .nav_links li  .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background-color: #1d1b31;
    display: none;
    transition: all 0.4s ease;
}
.nav .nav_links li  .sub-menu .link_name{
    display: none;
    
}
#checkbox_mainmenu:checked ~ .nav .nav_links li .sub-menu .link_name{
    display: block;
}
#checkbox_mainmenu:checked ~ .nav .nav_links li .drop #checkbox_category:checked ~ .sub-menu,
#checkbox_mainmenu:checked ~ .nav .nav_links li .drop #checkbox_post:checked ~ .sub-menu,
#checkbox_mainmenu:checked ~ .nav .nav_links li .drop #checkbox_plugins:checked ~ .sub-menu{
    display: none;
}

#checkbox_mainmenu:checked ~ .nav .nav_links li:hover  .sub-menu{
    position: absolute;
    left: 100%;
    top: 0px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: all 0.4s ease;
     display: block !important; 
}
.nav.close .nav_links li  .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    
}
#checkbox_mainmenu:checked ~ .nav .nav_links li .sub-menu a{
    opacity: 0.7;
}
#checkbox_mainmenu:checked ~ .nav .nav_links li .sub-menu a:hover{
    opacity: 1;
}
/* .nav .nav_links li:hover  .sub-menu{
    top: 0px;
    opacity: 1;
    pointer-events: auto;
}
.nav .nav_links li  .sub-menu .link_name{
    display: none;
}
.nav .nav_links li  .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
} */


#checkbox_category ,#checkbox_post  ,#checkbox_plugins ,#checkbox_mainmenu{
    display: none;
}

#checkbox_category:checked + div .bx-chevron-down,
 #checkbox_post:checked + div .bx-chevron-down,
  #checkbox_plugins:checked + div .bx-chevron-down{
    transform: rotate(180deg);
    
}
#checkbox_category:checked ~ .sub-menu, 
#checkbox_post:checked ~ .sub-menu, 
#checkbox_plugins:checked ~ .sub-menu{
    display: block;
}
.nav .nav_links li .sub-menu a{
    padding: 7px 0;
    font-size: 15px;
    opacity: 0.6;
    transition: all 0.3s ease;
    white-space: nowrap;
}
.nav .nav_links li .sub-menu a:hover{
    opacity: 1;
}